<link type="text/css" rel="stylesheet" href="/css/chosen.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css" />

<ol class="breadcrumb">
    <li>
        <a href="/ControlPanel">Панель управления</a>
    </li>
    <li>
        <a href="/ControlPanel/project_info&id=<%= this.project.id %>">Проект <%= this.project.name %></a>
    </li>
    <li class="active">
        Обновление сведений о сервере <%= this.info.name %>
    </li>
</ol>

<link type="text/css" rel="stylesheet" href="/css/chosen.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery.tagsinput.css" />

<form method="post" action="/ControlPanel/server_update_query&id=<%=this.info.id%>">

    <div class="form-group">
        <label>Адрес сервера (ip или домен сайта [пример: s1.mctop.su])</label>
        <input name="address" type="text" class="form-control" placeholder="Название" value="<%= this.info.address %>"/>
    </div>

    <div class="form-group">
        <label>Port сервера</label>
        <input name="port" type="text" class="form-control" placeholder="По умолчанию: 25565" value="<%= this.info.port %>"/>
    </div>
    <hr>

    <div class="form-group">
        <p><label>Версия игры</label></p>
        <select id="version_id" name="version_id" data-placeholder="Версия игры..." class="chosen-select" style="width:350px;" tabindex="2">
<% for (k in this.server_versions)
{
    v = this.server_versions[k];
%>
            <option value="<%= v.id %>" <%= v.id == this.info.version_id ? 'selected' : '' %>><%= this.XSSEscape(v.name) %></option>
<%
}
%>
        </select>
    </div>

    <hr>

    <div class="form-group">
        <label>Название сервера</label>
        <input name="name" type="text" class="form-control" placeholder="Название" value="<%= this.info.name %>"/>
    </div>

    <div class="form-group">
        <label>Описание сервера</label>
        <textarea id="description" name="description" type="text" class="form-control" placeholder="Описание"><%= this.info.description %></textarea>
    </div>

    <hr>

    <div class="form-group">
        <span class="label label-default">New</span> <label>Преимущества сервера</label><br><br>
        <textarea id="features" name="features" type="text" class="form-control" placeholder="Преимущества"><%= this.info.features %></textarea>
    </div>

    <hr>

    <div class="form-group">
        <span class="label label-default">New</span> <label>Ссылка на карту сервера</label>
        <input name="map_url" type="text" class="form-control" placeholder="Карта сервера" value="<%= this.info.map_url %>"/>
    </div>

    <div class="form-group">
        <span class="label label-default">New</span> <label>Трейлер сервера. Id видео в YouTube (http://www.youtube.com/watch?v=JkxaA9Mif7c - после знака = id видео)</label>
        <input name="video_trailer_url" type="text" class="form-control" placeholder="ID видео" value="<%= this.info.video_trailer_url %>"/>
    </div>


    <div class="form-group">
        <p><label>Whitelist</label></p>
        <select id="whitelist" name="whitelist" data-placeholder="Наличие Whitelist" class="chosen-select" style="width:350px;" tabindex="2">
            <option <%= 't' == this.info.whitelist ? 'selected' : '' %> value="1">Включен</option>
            <option <%= 'f' == this.info.whitelist ? 'selected' : '' %> value="0">Выключен</option>
        </select>
    </div>


    <div class="form-group">
        <p><label>Тип доступа</label></p>
        <select id="license" name="license" data-placeholder="Тип доступа..." class="chosen-select" style="width:350px;" tabindex="2">
            <option <%= 1 == this.info.license_type ? 'selected' : '' %> value="1">Только с лицензионным клиентом</option>
            <option <%= 0 == this.info.license_type ? 'selected' : '' %> value="0">Лицензия + не лицензия</option>
        </select>
    </div>

    <div class="form-group">
        <p><label>Вход на сервер</label></p>
        <select id="client_type" name="client_type" data-placeholder="Тип доступа..." class="chosen-select" style="width:350px;" tabindex="2">
            <option <%= 1 == this.info.client_type ? 'selected' : '' %> value="1">Только с лицензионным клиентом</option>
            <option <%= 2 == this.info.client_type ? 'selected' : '' %> value="2">У моего проекта свой лаунчер</option>
            <option <%= 3== this.info.client_type ? 'selected' : '' %> value="3">Любой лаунчер</option>
        </select>
    </div>

    <hr>

    <label>Теги сервера (после ввода каждого - Enter)</label>
    <input name="tags" id="tags" value="" />

    <hr>

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<%
this.Defer(function()
{

    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Упс, ничего не найдено'},
        '.chosen-select-width'     : {width:"95%"}
    }

    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    var tags = this.info.tags.split(':');
    console.log(tags);
    for (k in tags)
    {
        v = tags[k];

        if(v.length > 0)
            $( "input[name='tags']" ).val($( "input[name='tags']" ).val() + ',' + v);

    }

    $('#tags').tagsInput(
            {
                'defaultText':'+',
                'width':'40%'
            }
    );

    $('form').ajaxForm(function(data)
    {
        debugger;
    })
})
%>


<div class="message"></div>
