<h1>
    <span class="glyphicon glyphicon-align-justify"></span> Сервер <%= this.XSSEscape(this.info.name) %>
    <%= this.DeferRender('Servers/favorite_server?id='+this.info.id) %>
</h1>

<p>
    <%= this.XSSEscape(this.info.description) %>
</p>
<hr>

<div class="full_server">

    <%= this.DeferRender('rating/server/info_page_navbar', this)%>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home">

            <a target="_blank" href="<%= this.XSSEscape(this.project.site_url) %>" class="btn btn-primary">Сайт проекта</a>

            <p>Адрес сервера: <kbd><%= this.XSSEscape(this.info.address) %>:<%= this.XSSEscape(this.info.port) %></kbd></p>
            <p>Версия игры: <kbd> <%= this.DeferRender('Servers/version?id='+this.info.version_id) %> </kbd></p>

            <p>Whitelist:
                <kbd>
                    <%= (this.info.whitelist == 't')? 'Включен': 'Выключен' %>
                </kbd>
            </p>
            <p>Доступ на сервер:
                <kbd>
                    <%= (this.info.license_type == 1)? 'Только с лицензионным клиентом': 'Лицензия + не лицензия' %>
                </kbd>
            </p>

            <p>
                Вход на сервер:
                <kbd>
                    <% if(this.info.client_type == 1){%>
                        <%='Только с лицензионным клиентом'%>
                   <%}%>

                    <% if(this.info.client_type == 2){%>
                        <%='У моего проекта свой лаунчер'%>
                    <%}%>

                    <% if(this.info.client_type == 3){%>
                        <%='Любой лаунчер'%>
                    <%}%>
                </kbd>
            </p>
            <hr>

            <%
            if(this.info.tags !== null && this.info.tags !== undefined)
            {
                var tags = this.info.tags.split(':');
                var str = '';
                for (k in tags)
                {
                    v = tags[k];

                    if(v.length > 0 && v != ' ')
                        str = str + '<kbd>'+this.XSSEscape(v)+'</kbd>   ';
                }
            }   
            %>



            <div class="tags">
                Теги: <span><%= str %></span>
            </div>

            <% if (uid() !== 0){%>
                <%= this.DeferRender('Votes/is_server_subscriber?id='+this.info.id) %>
            <%}%>
        </div>

        <% if(this.info.map_url !== null){%>
        <div class="tab-pane" id="map"><iframe class="dynmap" src="<%= this.XSSEscape(this.info.map_url) %>"></iframe></div>
        <%}%>
        <div class="tab-pane" id="features"><%= this.XSSEscape(this.info.features) %></div>
        <div class="tab-pane" id="trailer">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/<%= this.XSSEscape(this.info.video_trailer_url)%>"></iframe>
            </div>
        </div>
    </div>
</div>

